.contact {
  width: 80%;
  margin: 4rem auto;
}
.contact-text h3 {
  font-family: "Poppins", sans-serif;
  color: #147efb;
  margin-bottom: 5px;
}
.contact-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.location-mail {
  display: flex;
  margin: 5rem 0;
}
.location {
  display: flex;
  margin-right: 2rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.location p {
  font-size: 1.3rem;
  cursor: pointer;
}
.location p:hover {
  color: #147efb;
}
.mail {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail p {
  font-size: 1.3rem;
  cursor: pointer;
}
.mail p:hover {
  color: #147efb;
}
.location-mail img {
  width: 4rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 750px) {
  .location-mail {
    flex-direction: column;
    margin: 3rem 0;
  }
  .location {
    margin-bottom: 2.5rem;
  }
  .mail {
    justify-content: flex-start;
  }
  .location-link{
    margin-left: 1rem;
  }
  .mail-link{
    margin-left: 1rem;
  }
  .location-mail img {
    width: 3rem;
}
}
