footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #2d2e32;
    color: white;
    padding: 3rem 8rem;
}
.left{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
footer img{
    width: 1.9rem;
    cursor: pointer;
    margin: 0 0.9rem;
}
@media only screen and (max-width:750px){
    footer{
        padding: 3rem 2rem;
        flex-direction: column;
        text-align: center;
    }
}