
nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    align-items: center;
    height: auto;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    left: 0;
    z-index: 100;
    font-size: 1.7rem;
    padding: 25px 40px 25px 50px;
   
}
nav> h3{
    color: #2d2e32;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 0.7rem;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
a{
    color: #2d2e32;
    font-weight: 500;
    text-decoration: none;
    transition: all .23s;
    font-size: 18px;
}
a:hover{
    color: blue;
}